/.idea/
/PDFmodifier/backend/mvnw
/PDFmodifier/backend/mvnw.cmd
/PDFmodifier/backend/HELP.md
/PDFmodifier/backend/src/main/resources/application.properties
/PDFmodifier/.mvn/wrapper/maven-wrapper.properties