<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - PDF4U</title>
    <meta charset="UTF-8">
</head>
<body>

    <div th:if="${register_blocked}" class="alert alert-danger">
        To access Login or Register pages you have to log out first.
    </div>

    <a th:href="@{/users/{id}(id=${user.id})}">Profile</a>

    <form th:action="@{/logout}" method="post">

        <button type="submit" class="btn btn-dark w-100">
            Logout
        </button>
    </form>

    <p th:text="'Nome: ' + ${user.firstName}"></p>
    <h1>Benvenuto su PDF Modifier!</h1>
    <p>Questa è la tua home page servita da Spring Boot 🎉</p>
</body>
</html>